<!DOCTYPE html>
<html lang="es">

{{>headerD}}

<body>
    <style>
        #descripcion {
            border-radius: 0;
            border: 1px rgb(206, 212, 218) solid;
            line-height: 1.5;
            max-height: 200px;
            padding-top: 0;
            height: 60px;
        }
    </style>
    <!--Barra de navegación-->
    {{> bar}}
    <!--Barra de navegación-->
    <center>
        <div class="container-fluid" style="margin-top: 80px;">
            <form action="" method="post" id="formulario">
                <div class="row">
                    <div class="col-6">
                        <div class="card" style="width: 85%; border-radius: 0;">
                            <div class="card-body">
                                <h4 class="card-title" style="margin-bottom: 2%;">Registrar venta</h4>
                                <!--Start Card 1-->

                                <div class="row justify-content-center">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label style="float: left; padding-right: 10px;">Nombre <span class="obligatorio">*</span></label>
                                            <select class="form-control" id="nombre" style="border-radius: 0;"
                                                name="nombre" required>
                                                {{#each nombre}}
                                                <option value="{{nombre}}">{{nombre}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group ">
                                            <label for="floatingInput"
                                                style="float: left; padding-right: 10px;">Total <span class="obligatorio">*</span></label>
                                            <input autocomplete="off" type="text" class="form-control" id="totalInput"
                                                style="border-radius: 0;" name="total" required readonly>
                                        </div>
                                    </div>

                                </div>
                                <div class="row pb-2">
                                    <div class="col-12">

                                        <label class="form-label"
                                            style="float: left; padding-right: 10px;">Descripción <span class="obligatorio">*</span></label>
                                        <textarea class="form-control" id="descripcion" style="border: 1px solid #ccc;"
                                            name="descripcion" autocomplete="off" required></textarea>

                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="floatingInput"
                                                style="float: left; padding-right: 10px;">Fecha <span class="obligatorio">*</span></label>
                                            <input autocomplete="off" type="date" class="form-control" id=" fecha"
                                                style="border-radius: 0;" name="fecha" required>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="floatingInput"
                                                style="float: left; padding-right: 10px;">Estado</label>
                                            <select class="form-control" id="estado" style="border-radius: 0;"
                                                name="estado" required>
                                                <option value="Contado">Contado</option>
                                                <option value="Plan separe">Plan separe</option>

                                            </select>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <a class="btn btn-danger" href="ventas" style="border-radius: 2; "
                                        type="button">Cancelar</a>
                                </div>
                                <div class="col-6">
                                    <button type="submit" class=" btn btn-success" style="border-radius: 2;" id="boton"
                                        onclick="Validarcampos(event)">
                                        Agregar venta</button>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title" style="margin-bottom: 2%;">Productos</h4>
                                <table class="table" style="text-align:center;" id="tabla-productos">
                                    <thead style="background-color: #282d32; color:white;">
                                        <tr>
                                            <th>Imagen</th>
                                            <th>Nombre</th>
                                            <th>Precio</th>
                                            <th>Stock</th>
                                            <th>Selección</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each productos}}
                                        <tr>
                                            <td><img src="/assets/img/Productos/{{imagen}}" alt="Imagen del producto"
                                                    width="40px" height="30px"></td>
                                            <td>{{nombre}}</td>
                                            <td>{{precio}}</td>
                                            <td>{{stock}}</td>
                                            <td>
                                                {{!-- <input type="" value="{{idProducto}}" name="idProducto"> --}}
                                                <div class="row justify-content-center">
                                                    <div class="col-3">
                                                        {{!-- Agrega la condición para deshabilitar el checkbox si el
                                                        stock es 0 --}}
                                                        {{#if (equals stock 0)}}
                                                        <input type="checkbox" class="form-control" id="check"
                                                            value="{{idProducto}}" name="idProducto" disabled>
                                                        {{else}}
                                                        <input type="checkbox" class="form-control" id="check"
                                                            value="{{idProducto}}" name="idProducto">
                                                        {{/if}}
                                                    </div>
                                                    <div class="col-7">
                                                        <input autocomplete="off" type="number" class="form-control w-90"
                                                            name="cantidadProducto" id="cantidadProducto"
                                                            onkeypress="return solonumeros(event)">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                                <div class="row justify-content-end" style="margin-right: 5px;">
                                    <button type="button" class="btn btn-success" onclick="calcularTotal()">Agregar
                                        producto</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <br>
    </center>


    {{#if asignacion}}
    <script>
        var permisosInput = document.querySelector('#permisosInput');
        var permisosValue = permisosInput.value;

        var palabras = permisosValue.split(',');

        var menuItems = document.querySelectorAll('.nav li');

        menuItems.forEach(function (item) {
            var items = item.querySelector('p').textContent.trim().toLowerCase();

            if (palabras.includes(items)) {
                item.style.display = 'block';
            } else {
                item.style.display = 'none';
            }
        });
    </script>
    {{/if}}

    {{!-- Calcular total productos --}}
    <script>
        let total = 0; // Declare the 'total' variable outside the function

        function calcularTotal() {
            const checkboxes = document.querySelectorAll('#tabla-productos input[type="checkbox"]:checked');
            const cantidadInputs = $("input[name='cantidadProducto']");
            var err = 0;
            if (checkboxes.length === 1) {
                const cantidadInput = $(checkboxes[0]).closest("tr").find("input[name='cantidadProducto']");
                const cantidad = parseInt(cantidadInput.val(), 10);
                const precio = parseFloat($(checkboxes[0]).closest("tr").find("td:eq(2)").text());
                const stockDisponible = parseInt($(checkboxes[0]).closest("tr").find("td:eq(3)").text());

                if (isNaN(cantidad) || cantidad > stockDisponible) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Ingrese una cantidad válida',
                    });
                    return;
                }


                const totalSoloUnaCantidad = cantidad * precio;
                const formattedTotal = totalSoloUnaCantidad.toLocaleString('es-CO', {
                    style: 'currency',
                    currency: 'COP',
                    minimumFractionDigits: 0
                });

                $("#totalInput").val(formattedTotal);
            } else {
                let newTotal = 0;

                checkboxes.forEach(checkbox => {
                    const cantidadInput = $(checkbox).closest("tr").find("input[name='cantidadProducto']");
                    const cantidad = parseInt(cantidadInput.val(), 10);
                    const precio = parseFloat($(checkbox).closest("tr").find("td:eq(2)").text());
                    const stockDisponible = parseInt($(checkbox).closest("tr").find("td:eq(3)").text());
                    console.log("Stock: ", stockDisponible)

                    if (isNaN(cantidad) || cantidad > stockDisponible) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Ingrese una cantidad válida',
                        });
                        return;
                    }

                    const subtotal = checkbox.checked ? cantidad * precio : 0; // Only calculate subtotal if checkbox is checked
                    newTotal += subtotal;
                });

                if (newTotal === 0) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Seleccione al menos un producto/Ingrese cantidad válida',
                    });
                    $("#totalInput").val(err);
                    return;
                }

                const formattedTotal = newTotal.toLocaleString('es-CO', {
                    style: 'currency',
                    currency: 'COP',
                    minimumFractionDigits: 0
                });

                $("#totalInput").val(formattedTotal);
            }
        }
    </script>

    {{!-- Todos lo campos vacios --}}
    <script>
        function Validarcampos(event) {
            var nombre = document.getElementById("nombre").value;
            var total = document.getElementById("totalInput").value;
            var descripcion = document.getElementById("descripcion").value;
            console.log("Total: ", total)
            if (descripcion === "" || total === "" || nombre === "" || total === "0") {
                Swal.fire({
                    icon: 'error',
                    title: 'Campos Obligatorios',
                })
                event.preventDefault(); // Evitar el envío del formulario
                return;
            }

            const checkboxes = document.querySelectorAll('#tabla-productos input[type="checkbox"]:checked');

            for (const checkbox of checkboxes) {
                const cantidadInput = $(checkbox).closest("tr").find("input[name='cantidadProducto']");
                const cantidad = parseInt(cantidadInput.val(), 10);
                const stockDisponible = parseInt($(checkbox).closest("tr").find("td:eq(3)").text());

                if (isNaN(cantidad) || cantidad > stockDisponible) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Ingrese una cantidad válida',
                    });
                    event.preventDefault(); // Evitar el envío del formulario
                    return;
                }
            }
        }
    </script>



    <script src="/assets/js/Validaciones.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--   Core JS Files   -->
    <script src="assets/js/core/jquery.min.js"></script>
    <script src="assets/js/core/popper.min.js"></script>
    <script src="assets/js/core/bootstrap.min.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chart JS -->
    <script src="assets/js/plugins/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="assets/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script>


    <script>
        //SOLO NUMEROS
        $(function () {
            $(".validar").keydown(function (event) {
                //alert(event.keyCode);
                if ((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105) && event.keyCode !== 190 && event.keyCode !== 110 && event.keyCode !== 8 && event.keyCode !== 9) {
                    return false;
                }
            });
        });
    </script>
    <!--Paginacion-->
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">
        </script>
    <!-- DATATABLES -->
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js">
    </script>
    <!-- BOOTSTRAP -->
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js">
    </script>
    <script>
        $(document).ready(function () {
            $('#tabla-productos').DataTable({ //se debe seleccionar el id de la tabla $('#id..
                language: { //Como el original esta en inglés, aqui se traducen los textos
                    processing: "Tratamiento en curso...",
                    search: "Buscar&nbsp;:",
                    lengthMenu: "Agrupar de _MENU_",
                    info: "_START_ al _END_ de _TOTAL_",
                    infoEmpty: "No existen datos.",
                    infoFiltered: "(filtrado de _MAX_ elementos en total)",
                    infoPostFix: "",
                    loadingRecords: "Cargando...",
                    zeroRecords: "No se encontraron datos con tu busqueda",
                    emptyTable: "No hay datos disponibles en la tabla.",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    },
                    aria: {
                        sortAscending: ": active para ordenar la columna en orden ascendente",
                        sortDescending: ": active para ordenar la columna en orden descendente"
                    }
                },
                lengthMenu: [[5], [5]], //filas mostradas (se pueden ingresar mas valores para el filtro de cantidad de filas)
                searching: false, //Ocultar buscador
                lengthChange: false,//Ocultar filtro de cantidad de filas
                ordering: false //Ocultar filtro de ordenación por columnas
            });
        });
    </script>
</body>

</html>