<!doctype html>
<html lang="es">

{{>headerD}}
<style>
  .fa-eye:hover {
    color: gray;
  }

  .p2:hover {
    color: rgb(255, 255, 255);
  }
</style>

<body>
  <!--Barra de navegación-->
  {{> bar}}
  <!--Barra de navegación-->
  <br><br><br>
  <center>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col-9">
              <input id="buscar-input" style=" border-radius: 0;" class="form-control " type="search"
                placeholder="Buscar venta" aria-label="Search" oninput="filtrarTabla()">
            </div>
            <div class="col-3 ">
              <button class="btn btn-outline-success" type="submit" style=" border-radius: 0;" onclick="filtrarTabla()">
                <i class="fa-sharp fa-solid fa-magnifying-glass" style="width: 100%;"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-5"></div>
        <div class="col-md-3">
          <a href="AgregarVenta" class="btn btn-success" style="border-radius: 2;"><i
              class="fa-solid fa-circle-plus"></i>
            Agregar Venta</a>
        </div>
      </div>
      <br>
      <table class="table" style="text-align:center;" id="tabla-ventas">
        <thead style="background-color: #282d32; color:white;">
          <tr>
            <th>#</th>
            <th>Nombre Cliente</th>
            <th>Producto</th>
            <th>Total</th>
            <th>Descripción</th>
            <th>Fecha</th>
            <th>Estado</th>

          </tr>
        </thead>
        <tbody>
          {{#each ventas}}
          <tr>
            <td class="py-3 px-6 text-center">{{cont}}</td>
            <td class="p-3 text-center">{{nombre}}</td>
            <td> <a href="ListarProduc/{{idVentas}}" style="color: #292b2c;"><i type="button"
                  class="fa-sharp fa-solid fa-eye"></i></a></td>
            <td class="p-3 text-center">{{total}}</td>
            <td class="p-3 text-center">{{descripcion}}</td>
            <td class="p-3 text-center">{{fecha}}</td>
            <td class="p-3 text-center">
              <!-- Utilizamos una clase común para el botón 'estado' y asignamos el valor del estado actual del cliente como un atributo de datos -->
              <button class="btn estado-boton btn-sm" style="border-radius:8px;" disabled
                data-estado="{{estado}}">{{estado}}</button>
            </td>
          </tr>
          <script>
            // Seleccionamos todos los botones de clase 'estado-boton'
            var botonesEstado = document.querySelectorAll(".estado-boton");

            // Iteramos a través de cada botón y cambiamos la clase según el valor del atributo de datos 'data-estado'
            botonesEstado.forEach(function (boton) {
              var estado = boton.getAttribute("data-estado");

              if (estado === "Contado") {
                boton.classList.add("btn-success");
                boton.classList.remove("btn-warning");
              } else if (estado === "Plan separe") {
                boton.classList.add("btn-warning");
                boton.classList.remove("btn-success");
              } else {
                // Si el estado no coincide con 'Activo' ni 'Inactivo', podemos manejar otras situaciones o no hacer ningún cambio en la clase del botón.
              }
            });
          </script>
          {{/each}}
        </tbody>
      </table>
    </div>
  </center>

</body>
{{#if asignacion}}
<script>
  var permisosInput = document.querySelector('#permisosInput');
  var permisosValue = permisosInput.value;

  var palabras = permisosValue.split(',');

  var menuItems = document.querySelectorAll('.nav li');

  menuItems.forEach(function (item) {
    var items = item.querySelector('p').textContent.trim().toLowerCase();

    if (palabras.includes(items)) {
      item.style.display = 'block';
    } else {
      item.style.display = 'none';
    }
  });
</script>
{{/if}}

<script>
  function filtrarTabla() {
    var input = document.getElementById("buscar-input");
    var filtro = input.value.toUpperCase();
    var tabla = document.getElementById("tabla-ventas");
    var filas = tabla.getElementsByTagName("tr");

    for (var i = 0; i < filas.length; i++) {
      var celdaNombre = filas[i].getElementsByTagName("td")[1];

      if (celdaNombre) {
        var textoNombre = celdaNombre.textContent || celdaNombre.innerText;
        if (textoNombre.toUpperCase().indexOf(filtro) > -1) {
          filas[i].style.display = "";
        } else {
          filas[i].style.display = "none";
        }
      }
    }
  }
</script>
<!--   Core JS Files   -->
<script src="assets/js/core/jquery.min.js"></script>
<script src="assets/js/core/popper.min.js"></script>
<script src="assets/js/core/bootstrap.min.js"></script>
<script src="assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chart JS -->
<script src="assets/js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="assets/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script>
<!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->

</script>
<!--Paginacion-->
<!-- JQUERY -->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous">
  </script>
<!-- DATATABLES -->
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js">
</script>
<!-- BOOTSTRAP -->
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js">
</script>
<script>
  $(document).ready(function () {
    $('#tabla-ventas').DataTable({ //se debe seleccionar el id de la tabla $('#id..
      language: { //Como el original esta en inglés, aqui se traducen los textos
        processing: "Tratamiento en curso...",
        search: "Buscar&nbsp;:",
        lengthMenu: "Agrupar de _MENU_",
        info: "_START_ al _END_ de _TOTAL_",
        infoEmpty: "No existen datos.",
        infoFiltered: "(filtrado de _MAX_ elementos en total)",
        infoPostFix: "",
        loadingRecords: "Cargando...",
        zeroRecords: "No se encontraron datos con tu busqueda",
        emptyTable: "No hay datos disponibles en la tabla.",
        paginate: {
          first: "Primero",
          previous: "Anterior",
          next: "Siguiente",
          last: "Ultimo"
        },
        aria: {
          sortAscending: ": active para ordenar la columna en orden ascendente",
          sortDescending: ": active para ordenar la columna en orden descendente"
        }
      },
      lengthMenu: [[4], [4]], //filas mostradas (se pueden ingresar mas valores para el filtro de cantidad de filas)
      searching: false, //Ocultar buscador
      lengthChange: false,//Ocultar filtro de cantidad de filas
      ordering: false //Ocultar filtro de ordenación por columnas
    });
  });
</script>