<!DOCTYPE html>
<html lang="es">

{{>headerId}}

<body>
  <style>
    #mensajeError {
      display: none;
      color: red;
      margin-top: 5px;
    }

    #mensajeError .icono {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
      width: 15px;
      height: 15px;
    }
  </style>
  <!--Barra de navegaci贸n-->
  {{> barId}}
  <!--Barra de navegaci贸n-->
  <center>
    <div class="container" style="margin-top: 80px;">

      <!--Start Form&Card-->
      <div class="row">
        <div class="col-6">
          <div class="card" style="width: 85%; border-radius: 0;">
            <div class="card-body">
              <h4 class="card-title" style="margin-bottom: 2%;">Editar Rol</h4>
              <!--Start Card 1-->
              {{#each roles}}
              <form action="" method="post" id="formulario">
                <div class="row pt-4">
                  <div class="col-6 mx-auto">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="nombreRol" style="border-radius: 0;"
                        value="{{nombreRoles}}" name="nombreRol">
                      <div id="mensajeError"></div>
                      <label for="floatingInput">Nombre</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6 mx-auto">
                    <div class="form-floating mb-3">

                      <select class="form-control" id="floatingInput" style="border-radius: 0;" value="{{estado}}"
                        name="estadoRol">
                        <option value="Activo">Activo</option>
                        <option value="Inactivo">Inactivo</option>
                      </select>
                      <label for="floatingInput">Estado</label>
                    </div>
                  </div>
                </div>

            </div>
            <div class="row">
              <div class="col-6">
                <a class="btn btn-danger" href="/roles" style="border-radius: 2; "
                    type="button">Cancelar</a>
              </div>
              <div class="col-6">
                <button class="btn btn-success" style="border-radius: 2; " type="submit">
                    Editar rol</button>
              </div>
            </div>
            <br>

          </div>


          {{/each}}
        </div>
        <div class="col-6">
          <table class="table" style="text-align:center; width:85%;">
            <thead style="background-color: #282d32; color:white;">
              <tr>
                <th>Permiso</th>

                <th>Asignacion</th>
              </tr>
            </thead>
            <tbody>
              {{#each permisos}}
              <tr>
                <td>{{this.nombrePermisos}}</td>

                <td>
                  <div class="row align-items-center">
                    <div class="col-6 ms-5" style="padding: 0;">
                      <div class="custom-control custom-switch">
                        <input onchange="obtener(this, {{idPermisos}})" type="checkbox" class="custom-control-input"
                          id="permiso{{this.idPermisos}}" {{#if asignado}}checked disabled{{/if}}>
                        <label class="custom-control-label" for="permiso{{this.idPermisos}}" name="id"></label>
                      </div>
                    </div>

                    <input type="hidden" name="idSeleccionado" id="idSeleccionado" value="">
                    <div class="col-6 " style="width: 15%; padding-left: 0;">
                      </form>
                      <form action="/EliminarAsignacion/{{idRoles}}" method="POST">
                        <input type="hidden" value="{{idRoles}}" name="idRoles">
                        <input type="hidden" value="{{idPermisos}}" name="idPermisos">
                        <button class="btn btn" type="submit"><i class="fa fa-trash"></i></button>
                      </form>
                    </div>
                  </div>
                </td>



              </tr>

              {{/each}}

            </tbody>
          </table>
        </div>
      </div>


    </div>


    <br>


</body>


{{#if asignacion}}
<script>
  var permisosInput = document.querySelector('#permisosInput');
  var permisosValue = permisosInput.value;

  var palabras = permisosValue.split(',');

  var menuItems = document.querySelectorAll('.nav li');

  menuItems.forEach(function (item) {
    var items = item.querySelector('p').textContent.trim().toLowerCase();

    if (palabras.includes(items)) {
      item.style.display = 'block';
    } else {
      item.style.display = 'none';
    }
  });
</script>
{{/if}}


<script>

  let formulario = document.querySelector('#formulario');
  let nombreInput = document.querySelector('#nombreRol');
  let mensajeError = document.querySelector('#mensajeError');
  const checkboxes = document.querySelectorAll('input[type="checkbox"]');
  let nombre = "";
  let todosDesactivados = true;

  formulario.addEventListener('submit', function (event) {
    nombre = nombreInput.value.trim();
    // Validaci贸n del nombre
    if (nombre.trim() === "") {
      event.preventDefault();
      mostrarError('Debe ingresar un nombre');
      Swal.fire(
        'El campo nombre es obligatorio',
        '',
        'error'
      );
    } else {
      ocultarError();
    }


    // Validaci贸n de los checkboxes
    for (let i = 0; i < checkboxes.length; i++) {
      if (checkboxes[i].checked) {
        todosDesactivados = false;
        break;
      }
    }

    if (todosDesactivados) {
      event.preventDefault();
      Swal.fire(
        'Asigne al menos un permiso',
        '',
        'error'
      )
    }
  });

  function mostrarError(mensaje) {
    mensajeError.innerHTML = '<span class="icono fa fa-circle-xmark"></span>' + mensaje;
    mensajeError.style.display = 'block';
  }

  function ocultarError() {
    mensajeError.innerHTML = '';
    mensajeError.style.display = 'none';
  }
</script>


<script>

  let idSeleccionado = [];

  function obtener(checkbox, idPermisos) {
    if (checkbox.checked) {
      idSeleccionado.push(idPermisos);
    } else {
      idSeleccionado = [];
    }
    document.getElementById('idSeleccionado').value = idSeleccionado; // Asigna el valor de idSeleccionado al input oculto
    console.log(idSeleccionado)
  }
</script>
<script src="/assets/js/ModalPermiso.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/assets/js/ValidacionEditarRol.js"></script>
<!--   Core JS Files   -->
<script src="/assets/js/core/jquery.min.js"></script>
<script src="/assets/js/core/popper.min.js"></script>
<script src="/assets/js/core/bootstrap.min.js"></script>
<script src="/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chart JS -->
<script src="/assets/js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="/assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="/assets/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script>
<!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
<script src="/assets/demo/demo.js"></script>
<script>
  $(document).ready(function () {
    // Javascript method's body can be found in assets/js/demos.js
    demo.initDashboardPageCharts();

  });
</script>