<!doctype html>
<html lang="es" class="perfect-scrollbar-on">

{{>headerD}}
<style>
    .fa-eye:hover {
        color: #fae603;
    }

    .fa-pen:hover {
        color: #0275d8;
    }

    .p2:hover {
        color: rgb(255, 255, 255);
    }

    .fa-trash:hover {
        color: red;
    }

    .boton-enviar {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }
</style>

<!--Barra de navegación-->
{{>bar}}
<!--Barra de navegación-->
<br><br><br>
<center>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="row" style="margin-left: 8px;">
                    <div class="col-9">
                        <input id="buscar-input" style=" border-radius: 0;" class="form-control" type="search"
                            placeholder="Buscar Rol" aria-label="Search" oninput="filtrarTabla()">
                    </div>
                    <div class="col-3">
                        <button class="btn btn-outline-success" type="submit" style=" border-radius: 0; "
                            onclick="filtrarTabla()">
                            <i class="fa-sharp fa-solid fa-magnifying-glass" style="width: 100%;"></i>
                        </button>
                    </div>
                </div>
            </div>


            <div class="col-md-5"></div>
            <div class="col-md-3">
                <a href="AgregarRol" class="btn btn-success" style="border-radius: 2;"><i
                        class="fa-solid fa-circle-plus"></i>
                    Agregar Rol</a>
            </div>
        </div>
        <br>
        <table id="tabla-roles" class="table" style="text-align:center;">
            <thead style="background-color: #282d32; color:white;">
                <tr>
                    <th>#</th>
                    <th>Rol</th>
                    <th>Permisos</th>
                    <th>Estado</th>
                    <th>Funciones</th>
                </tr>
            </thead>
            <tbody>

                {{#each roles}}
                <tr>
                    <td class="py-3 px-6 text-center">{{cont}}</td>
                    <td class="p-3 text-center">{{nombreRoles}}</td>
                    <td>
                        <a href="Permisos/{{idRoles}}" style="color: #292b2c;"><i type="button"
                                class="fa-sharp fa-solid fa-eye"></i></a>

                    </td>
                    <td class="p-3 text-center">
                        <!-- Utilizamos una clase común para el botón 'estado' y asignamos el valor del estado actual del cliente como un atributo de datos -->
                        <button class="btn estado-boton btn-sm" style="border-radius:8px;" disabled
                            data-estado="{{estado}}">{{estado}}</button>
                    </td>
                    <td>
                        <a href="EditarRol/{{idRoles}}" style="color: #292b2c;" class="boton-enviar"><i type="button"
                                class="fa-sharp fa-solid fa-pen"></i></a>


                    </td>
                </tr>
                <script>
                    // Seleccionamos todos los botones de clase 'estado-boton'
                    var botonesEstado = document.querySelectorAll(".estado-boton");

                    // Iteramos a través de cada botón y cambiamos la clase según el valor del atributo de datos 'data-estado'
                    botonesEstado.forEach(function (boton) {
                        var estado = boton.getAttribute("data-estado");

                        if (estado === "Activo") {
                            boton.classList.add("btn-primary");
                            boton.classList.remove("btn-secondary");
                        } else if (estado === "Inactivo") {
                            boton.classList.add("btn-secondary");
                            boton.classList.remove("btn-primary");
                        } else {
                            // Si el estado no coincide con 'Activo' ni 'Inactivo', podemos manejar otras situaciones o no hacer ningún cambio en la clase del botón.
                        }
                    });
                </script>
                {{/each}}

            </tbody>
        </table>
    </div>
</center>


{{#if asignacion}}
<script>
    var permisosInput = document.querySelector('#permisosInput');
    var permisosValue = permisosInput.value;

    var palabras = permisosValue.split(',');

    var menuItems = document.querySelectorAll('.nav li');

    menuItems.forEach(function (item) {
        var items = item.querySelector('p').textContent.trim().toLowerCase();

        if (palabras.includes(items)) {
            item.style.display = 'block';
        } else {
            item.style.display = 'none';
        }
    });
</script>
{{/if}}

<script>
    function filtrarTabla() {
        var input = document.getElementById("buscar-input");
        var filtro = input.value.toUpperCase();
        var tabla = document.getElementById("tabla-roles");
        var filas = tabla.getElementsByTagName("tr");

        for (var i = 0; i < filas.length; i++) {
            var celdaRol = filas[i].getElementsByTagName("td")[1];

            if (celdaRol) {
                var textoRol = celdaRol.textContent || celdaRol.innerText;
                if (textoRol.toUpperCase().indexOf(filtro) > -1) {
                    filas[i].style.display = "";
                } else {
                    filas[i].style.display = "none";
                }
            }
        }
    }
</script>
<!-- Sweet Alert 2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    // Verificar si hay un mensaje de éxito en el query parameter
    const urlParams = new URLSearchParams(window.location.search);
    const alertParam = urlParams.get("alert");

    if (alertParam === "success") {
        // Mostrar el Sweet Alert
        Swal.fire({
            icon: "success",
            title: "Éxito",
            text: "La operación se realizó correctamente.",
        });
    }
</script>
<script>
    // Obtiene todos los botones de alternancia en la página
    var navbarTogglers = document.querySelectorAll('[data-bs-toggle="collapse"]');

    // Itera sobre cada botón de alternancia y agrega el evento de clic
    navbarTogglers.forEach(function (navbarToggler) {
        navbarToggler.addEventListener('click', function () {
            var target = document.querySelector(navbarToggler.getAttribute('data-bs-target'));
            target.classList.toggle('show'); // Agrega o remueve la clase 'show' para colapsar/desplegar el menú
        });
    });
</script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="assets/js/ValidacionEliminarRol.js"></script>
<!--   Core JS Files   -->
<script src="assets/js/core/jquery.min.js"></script>
<script src="assets/js/core/popper.min.js"></script>
<script src="assets/js/core/bootstrap.min.js"></script>
<script src="assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chart JS -->
<script src="assets/js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="assets/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script>

<!--Paginacion-->
<!-- JQUERY -->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous">
    </script>
<!-- DATATABLES -->
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js">
</script>
<!-- BOOTSTRAP -->
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js">
</script>
<script>
    $(document).ready(function () {
        $('#tabla-roles').DataTable({ //se debe seleccionar el id de la tabla $('#id..
            language: { //Como el original esta en inglés, aqui se traducen los textos
                processing: "Tratamiento en curso...",
                search: "Buscar&nbsp;:",
                lengthMenu: "Agrupar de _MENU_",
                info: "_START_ al _END_ de _TOTAL_",
                infoEmpty: "No existen datos.",
                infoFiltered: "(filtrado de _MAX_ elementos en total)",
                infoPostFix: "",
                loadingRecords: "Cargando...",
                zeroRecords: "No se encontraron datos con tu busqueda",
                emptyTable: "No hay datos disponibles en la tabla.",
                paginate: {
                    first: "Primero",
                    previous: "Anterior",
                    next: "Siguiente",
                    last: "Ultimo"
                },
                aria: {
                    sortAscending: ": active para ordenar la columna en orden ascendente",
                    sortDescending: ": active para ordenar la columna en orden descendente"
                }
            },
            lengthMenu: [[5], [5]], //filas mostradas (se pueden ingresar mas valores para el filtro de cantidad de filas)
            searching: false, //Ocultar buscador
            lengthChange: false,//Ocultar filtro de cantidad de filas
            ordering: false //Ocultar filtro de ordenación por columnas
        });
    });
</script>

</html>