{{> header }}

<body>
    <!-- navbar-->
    <div class="barranav">
        {{> navbar}}
    </div>
    <style>
        .carta {
            width: 15rem;
            height: 240px;
            text-align: center;
            margin-left: 7px;
            overflow: hidden;
            transition: 0.5s;
            object-fit: cover;
        }

        .contenedorcarta {
            margin: 0 auto;

        }

        .carta:hover {
            transform: scale(1.2);
        }

        a {
            text-decoration: none;
        }

        /* Estilo para el botón de la página activa */
        .page-link.active {
            background-color: #007bff;
            color: white;
        }

        .selected-category {
            background-color: black;
            color: white;
        }
    </style>

    <section class="py-3">
        <header class="text-center mb-4">
            <h2>Productos</h2>
            <div class="d-flex justify-content-end buscarProductos">
                <div class="pr-2">
                    <input id="searchInput" type="text" placeholder="Buscar productos..." oninput="buscarProductos()">
                </div>
                <button class="btn btn-outline-success buscarbtn" style="height: 32px;">
                    <i class="fas fa-search fa-sm align-items-center"></i>
                </button>
            </div>

        </header>
        <div class="container p-0 ">
            <div class="row">

                <div class="col-md-3">
                    <!--TEXTO ADICONAL-->
                    <h5 class="text-uppercase mb-4">Categorías</h5>
                    <ul class="list-unstyled small ps-lg-4 font-weight-normal">
                        <li class="mb-2"><a class="reset-anchor" data-nombre_categoria="todos">Todos</a></li>
                        <li class="mb-2"><a class="reset-anchor" data-nombre_categoria="Chaquetas">Chaquetas</a></li>
                        <li class="mb-2"><a class="reset-anchor" data-nombre_categoria="Billeteras">Billeteras</a></li>
                        <li class="mb-2"><a class="reset-anchor" data-nombre_categoria="Accesorios">Accesorios</a></li>
                        <li class="mb-2"><a class="reset-anchor" data-nombre_categoria="Calzado">Calzado</a></li>
                        <li class="mb-2"><a class="reset-anchor" data-nombre_categoria="Bolsos">Bolsos</a></li>
                        <li class="mb-2"><a class="reset-anchor" data-nombre_categoria="Morrales">Morrales</a></li>
                    </ul>
                </div>

                <div class="col-md-9">
                    <div class="row">
                        <!-- PRODUCTOS -->
                        {{#each productos}}
                        <div class="col-lg-3 col-md-4 col-sm-6 mb-2">
                            <div class="product productosI text-center">
                                <div class="">
                                    <div class="badge text-white"></div>
                                    <a class="d-block" href="#">
                                        <img class="" width="200" height="200" src="assets/img/Productos/{{imagen}}"
                                            alt="...">
                                    </a>
                                </div>
                                <h6>{{nombre}}</h6>
                                <p class="small text-muted">
                                    <strong>Precio:</strong> {{precio}}<br>
                                    <strong>Disponibilidad:</strong> {{stock}}
                                    <strong data-nombre_categoria="{{nombre_categoria}}"
                                        hidden>{{nombre_categoria}}</strong>
                                </p>
                            </div>
                        </div>
                        {{/each}}
                        <!--END PRODUCTOS-->
                    </div>

                    <!-- PAGINACIÓN -->
                    <div style="text-align:center;">
                        <div class="pagination Paginacion-product">
                            {{#each (range 1 totalPages)}}
                            {{#if (equals this ../currentPage)}}
                            <a class="page-link active" href="?page={{this}}">{{this}}</a>
                            {{else}}
                            <a class="page-link" href="?page={{this}}">{{this}}</a>
                            {{/if}}
                            {{/each}}
                        </div>
                    </div>


                </div>


                <!-- TEXTO ADICIONAL 
                <div class="col-lg-3 col-md-4 col-sm-12 categoria">



                </div>-->

            </div>
        </div>
    </section>



    <div class="whatsapp-container">
        <a href="https://wa.me/5211234567890?text=Me%20gustaría%20saber%20el%20precio%20del%20coche" class="whatsapp"
            target="_blank">
            <i class="fab fa-whatsapp whatsapp-icon"></i>
            <div class="whatsapp-tooltip p-1">Chatea con nosotros</div>
        </a>

    </div>
    {{>footer}}
    <!-- JavaScript files-->
    <!-- PRIMER SCRIPT -->
    <script>
        function filtrarProductosPorCategoria(categoriaSeleccionada) {
            const productos = document.querySelectorAll('.product');

            productos.forEach((producto) => {
                const categoriaProducto = producto.querySelector('strong[data-nombre_categoria]').getAttribute('data-nombre_categoria');

                if (categoriaSeleccionada === 'todos' || categoriaSeleccionada === categoriaProducto) {
                    producto.style.display = 'block';
                } else {
                    producto.style.display = 'none';
                }
            });

            // Remover la clase de selección de todas las categorías
            const categorias = document.querySelectorAll('.reset-anchor');
            categorias.forEach((categoria) => {
                categoria.classList.remove('selected-category');
            });

            // Agregar la clase de selección a la categoría actual
            if (categoriaSeleccionada !== 'todos') {
                const categoriaSeleccionadaElemento = document.querySelector(`[data-nombre_categoria="${categoriaSeleccionada}"]`);
                categoriaSeleccionadaElemento.classList.add('selected-category');
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            const categorias = document.querySelectorAll('.reset-anchor');
            categorias.forEach((categoria) => {
                categoria.addEventListener('click', function () {
                    const categoriaSeleccionada = this.getAttribute('data-nombre_categoria');
                    filtrarProductosPorCategoria(categoriaSeleccionada);
                });
            });

            // Mostrar todos los productos al cargar la página
            filtrarProductosPorCategoria('todos');
        });

    </script>




    <script>
        function buscarProductos() {
            const input = document.getElementById('searchInput');
            const filter = input.value.toUpperCase();
            const productos = document.querySelectorAll('.product');

            productos.forEach((producto) => {
                const nombreProducto = producto.querySelector('h6').textContent.toUpperCase();
                if (nombreProducto.includes(filter)) {
                    producto.style.display = 'block';
                } else {
                    producto.style.display = 'none';
                }
            });
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="vendor/glightbox/js/glightbox.min.js"></script>
    <script src="vendor/nouislider/nouislider.min.js"></script>
    <script src="vendor/swiper/swiper-bundle.min.js"></script>
    <script src="vendor/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="js/front.js"></script>
    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

</body>

</html>