<!doctype html>
<html lang="es">

{{>headerId}}

<style>
    .btn-insumos:hover {
        color: gray;
    }

    #descripcion_R,
    #observacion_R {
        border-radius: 0;
        border: 1px rgb(206, 212, 218) solid;
        line-height: 1.5;
        max-height: 500px;
        padding-top: 0;
        height: 70px;
        background-color: white;
    }

    /* Estilos para el popover */
    .custom-popover {
        position: relative;
        max-width: 330px;
        border: 3px gray solid;
        /* Reemplaza esto con el color hexadecimal que corresponda a --bd-violet-bg */
        background-color: white;
        /* Reemplaza esto con el color hexadecimal que corresponda a --bd-violet-bg */
        color: black;
        /* Reemplaza esto con el color hexadecimal que corresponda a --bs-white */
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    .custom-popover2 {
        position: relative;
        max-width: 300px;
        border: 3px gray solid;
        /* Reemplaza esto con el color hexadecimal que corresponda a --bd-violet-bg */
        background-color: white;
        /* Reemplaza esto con el color hexadecimal que corresponda a --bd-violet-bg */
        color: black;
        /* Reemplaza esto con el color hexadecimal que corresponda a --bs-white */
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    /* Estilos para la flecha del popover */
    .custom-popover::before,
    .custom-popover2::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -16px;
        /* Ubica la flecha justo a la izquierda del popover */
        border-width: 8px;
        border-style: solid;
        border-color: transparent black transparent transparent;
        /* Utiliza el color correspondiente a --bd-violet-bg */
        transform: translateY(-50%);
        border-right-color: gray;
        /* Agrega un borde negro de 1px a la derecha de la flecha */
    }

    p {
        margin-bottom: 1%;
    }

    .btn {
        border-radius: 8px;
    }

    button {
        border-radius: 8px;
        border: 1px gray solid;
    }

    .badge {
        border-radius: 0;
    }

    .fa-dolly:hover {
        color: gray;
    }

    /* Add this style to your existing CSS */
    .table-container {
        max-height: 400px;
        height: 400px;
        /* Adjust this value as per your requirement */
        overflow-y: auto;
        position: relative;
        /* Add this to enable positioning of thead */
    }

    /* Add this style to fix thead */
    .table-container table {
        position: relative;
    }

    .table-container thead {
        position: sticky;
        top: 0;
        z-index: 1;
    }
</style>

<!--Barra de navegación-->
{{>barId}}
<!--Barra de navegación-->
<br><br><br>


<a href="/reparaciones" style="color:black; text-decoration:none; margin-left: 2%"><i
        class="fa fa-arrow-left fa-2x"></i></a>

<div class="row ml-2">
    <div class="col-md-3">
        {{#each reparacion}}

        <div class="card mb-3" style="max-width: 100%; border-radius: 0;">
            <div class="card-body">
                <h5 class="card-title">REPARACIÓN</h5>
                <div class="card-text">
                    <p><b>Cliente:</b>
                        <button type="button" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-html="true"
                            data-bs-custom-class="custom-popover" title="<b>Cliente</b>" data-bs-content="
                            <div class='row'>
                                <div class='col-md-3'>
                                    <img src='https://icons.iconarchive.com/icons/fa-team/fontawesome/512/FontAwesome-User.png' width='100' />
                                </div>
                                <div class='col-md-9'>
                                    <b>Nombre:</b> {{userName}}<br>
                                    <b>Teléfono:</b> {{userTell}}<br>
                                    <b>Correo:</b> {{userEmail}}<br>
                                </div>
                            </div>
                            ">{{userName}}<span class="badge text-bg-secondary"><i class="fas fa-user"
                                    style="color:black"></i></span>
                        </button>
                        <br>
                    </p>
                    <p><b>Fecha_Registro: </b>{{fechaRegistro}}<br></p>
                    <p><b>Feha_Entrega: </b>{{fechaEntrega}}<br></p>
                    <p><b>Total: </b>{{total}}<br></p>
                    <p><b>Estado: </b>
                        {{#if estado1}}
                        <button class="btn btn-primary btn-sm" style="border-radius:20px;" disabled>Iniciado</button>
                        <!--Activo-->
                        {{/if}}
                        {{#if estado2}}
                        <button class="btn btn-success btn-sm" style="border-radius:20px;" disabled>En Proceso</button>
                        <!--Inactivo-->
                        {{/if}}
                        {{#if estado3}}
                        <button class="btn btn-secondary btn-sm" style="border-radius:20px;" disabled>Terminado</button>
                        <!--Inactivo-->
                        {{/if}}
                        {{#if estado4}}
                        <button class="btn btn-warning btn-sm" style="border-radius:20px;" disabled>T.. y
                            Entregado</button>
                        <!--Inactivo-->
                        {{/if}}
                    </p>
                </div>
            </div>
        </div>
        {{/each}}

        <center>
            <button class="btn-insumos mb-4" type="button" data-toggle="modal" data-target="#Insumos">
                Insumos Requeridos <i class="fa-solid fa-dolly"></i>
            </button>
        </center>


        <!--Modal Insumos-->
        <div class="modal fade" id="Insumos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Insumos Requeridos
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead style="background-color: #282d32; color:white;">
                                <tr style="text-align: center;">
                                    <th class="w-1/4 py-4 ...">#</th>
                                    <th class="w-1/4 py-4 ...">Insumo</th>
                                    <th class="w-1/4 py-4 ...">Cantidad Necesaria</th>
                                </tr>
                            </thead>
                            <tbody style="text-align: center;">
                                {{#each d_producto}}
                                <tr>
                                    <td class="py-2 px-6 text-center">{{cont}}</td>
                                    <td class="p-3 text-center">

                                        <button type="button" data-bs-toggle="popover" data-bs-trigger="hover"
                                            data-bs-custom-class="custom-popover2"
                                            data-bs-title="<b>Insumo {{cont}}</b>" data-bs-html="true" data-bs-content="
                                            <div class='row'>
                                                <div class='col-md-4'>
                                                    <img src='https://icons.iconarchive.com/icons/fa-team/fontawesome/512/FontAwesome-Box-Open-icon.png' width='100' />
                                                </div>
                                                <div class='col-md-8'>
                                                    <b>Nombre:</b> {{nombreI}}<br>
                                                    <b>Medida:</b> {{medidaI}}<br>
                                                    <b>Stock:</b> {{cantidadI}}<br>
                                                </div>
                                            </div>
                                        ">{{nombreI}} <i class="fas fa-box-open" style="color: black"></i></button>
                                    </td>
                                    <!--<td class="p-3 text-center">{{cantidad_n}}</td>-->
                                    <td class="p-3 text-center">{{totalN}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!--End Modal Insumos-->
    </div>


    <div class="col-md-9">
        <!--Start Card #3-->
        <div class="card" style="width: 98%; border-radius: 0;">
            <div class="card-body">
                <h6 class="card-title">Articulos a reparar</h6>
                <!--Start Table-->
                <div class="table-container">
                    <table class="table table-sm">
                        <thead class="table" style="background-color: #282d32; color:white;">
                            <tr style="text-align: center;">
                                <th>#</th>
                                <th>Artículo</th>
                                <th>Estado</th>
                                <th>Última Actualización</th>
                                <th>Funciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each detallesreparacion}}
                            <tr class="clickable-row"><!---->
                                <td class="py-2 px-6 text-center">{{cont}}</td>
                                <td class="p-3 text-center">{{articulo}}</td>
                                {{#if estado1}}
                                <td class="p-3 text-center">
                                    <button class="btn btn-primary btn-sm" disabled>Iniciado</button>
                                </td>
                                {{/if}}
                                {{#if estado2}}
                                <td class="p-3 text-center">
                                    <button class="btn btn-success btn-sm" disabled>En Proceso</button>
                                </td>
                                {{/if}}
                                {{#if estado3}}
                                <td class="p-3 text-center">
                                    <button class="btn btn-secondary btn-sm" disabled>Terminado</button>
                                </td>
                                {{/if}}

                                <td class="p-3 text-center">{{fechaEstado}}</td>

                                <td class="py-2 px-6 text-center">
                                    <a class="expand-button" type="button">
                                        <i class="fa-solid fa-caret-down icon-collapse fa-2x"></i>
                                        <i class="fa-solid fa-caret-up icon-expand fa-2x"
                                            style="display: none; color:gray;"></i>
                                    </a>
                                </td>
                            </tr>

                            <tr class="extra-row" style="display: none;">
                                <td colspan="6">
                                    <div class="card" style="width: 100%; border-radius: 0;">
                                        <div class="card-body">
                                            <!--<h6 class="card-title">DETALLES</h6>-->
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <!--Input Descripción-->
                                                    <label class="form-label mt-1"
                                                        for="descripcion_R">Descripción</label>
                                                    <textarea class="form-control form-control-sm"
                                                        style="border-radius: 0;" id="descripcion_R"
                                                        readonly>{{descripcion}}</textarea>
                                                    <!--End Input Descripción-->
                                                </div>

                                                <div class="col-md-3">
                                                    <center>
                                                        <button type="button" class="btn-insumos btn-sm mt-4"
                                                            data-toggle="modal" data-target="#id{{cont}}">

                                                            <i class="fa-solid fa-dolly fa-2x"></i> <br>
                                                            <p>Insumos <br>Requeridos</p>

                                                        </button>
                                                    </center>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <!--Input Observación-->
                                                    <label class="form-label mt-2"
                                                        for="observacion_R">Observaciones</label>
                                                    <textarea class="form-control form-control-sm mb-2"
                                                        style="border-radius: 0;" id="observacion_R"
                                                        readonly>{{observacion}}</textarea>
                                                    <!--End Input Observación-->
                                                </div>

                                                <div class="col-md-4">
                                                    <label class="form-label mt-4"
                                                        for="observacion_R">Última_Actualización</label>
                                                    <input class="form-control form-control-sm"
                                                        style="border-radius: 0;" type="text" value="{{fechaEstado}}"
                                                        readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <!--End Table-->
                <div class="pagination">
                    <button class="prev-btn mt-3">Anterior</button>
                    <button class="next-btn mt-3">Siguiente</button>
                </div>
            </div>
        </div>
        <!--End Card #3-->
    </div>

</div>

<!--Modal-->
{{#each detallesreparacion}}
<div class="modal fade" id="id{{cont}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Insumos Requeridos Artículo #{{cont}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead style="background-color: #282d32; color:white;">
                        <tr style="text-align: center;">
                            <th>#</th>
                            <th>Insumo</th>
                            <th>Cantidad</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center;">
                        {{#each detalles}}
                        <tr>
                            <td>{{this.cont}}</td>
                            <td>
                                <button type="button" data-bs-toggle="popover" data-bs-trigger="hover"
                                    data-bs-custom-class="custom-popover2" data-bs-title="<b>Insumo {{this.cont}}</b>"
                                    data-bs-html="true" data-bs-content="
                                    <div class='row'>
                                        <div class='col-md-4'>
                                            <img src='https://icons.iconarchive.com/icons/fa-team/fontawesome/512/FontAwesome-Box-Open-icon.png' width='100' />
                                        </div>
                                        <div class='col-md-8'>
                                            <b>Nombre:</b> {{this.idInsumo}}<br>
                                            <b>Medida:</b> {{this.medida}}<br>
                                            <b>Stock:</b> {{this.stock}}<br>
                                        </div>
                                    </div>
                                ">{{this.idInsumo}} <i class="fas fa-box-open" style="color: black"></i></button>

                            </td>
                            <td>{{this.cantidad_n}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{/each}}
<!--End Modal-->

</body>

<!--Bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<!--Validacion nav bar-->
{{#if asignacion}}
<script>
    var permisosInput = document.querySelector('#permisosInput');
    var permisosValue = permisosInput.value;

    var palabras = permisosValue.split(',');

    var menuItems = document.querySelectorAll('.nav li');

    menuItems.forEach(function (item) {
        var items = item.querySelector('p').textContent.trim().toLowerCase();

        if (palabras.includes(items)) {
            item.style.display = 'block';
        } else {
            item.style.display = 'none';
        }
    });
</script>
{{/if}}

<script>
    // Inicializar los popovers
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl);
    });

    // Mostrar el toast
    var toastEl = document.getElementById('myToast');
    var toast = new bootstrap.Toast(toastEl);
    toast.show();
</script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
<!--   Core JS Files   -->
<script src="/assets/js/core/jquery.min.js"></script>
<script src="/assets/js/core/popper.min.js"></script>
<script src="/assets/js/core/bootstrap.min.js"></script>
<script src="/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!-- Chart JS -->
<script src="/assets/js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="/assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="/assets/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script>



<!--Detalles de los detalles-->

<script>
    // Desplegar detalle del detalle
    document.addEventListener("DOMContentLoaded", function () {
        var expandButtons = document.getElementsByClassName("expand-button");

        for (var i = 0; i < expandButtons.length; i++) {
            expandButtons[i].addEventListener("click", function () {
                var button = this;
                var clickableRow = button.closest(".clickable-row");
                var nextRow = clickableRow.nextElementSibling;

                if (nextRow.classList.contains("extra-row")) {
                    nextRow.style.display = nextRow.style.display === "none" ? "table-row" : "none";

                    var iconCollapse = button.querySelector(".icon-collapse");
                    var iconExpand = button.querySelector(".icon-expand");

                    if (nextRow.style.display === "none") {
                        iconCollapse.style.display = "block";
                        iconExpand.style.display = "none";
                    } else {
                        iconCollapse.style.display = "none";
                        iconExpand.style.display = "block";
                    }
                }
            });
        }
    });




</script>


<script>
    const itemsPerPage = 4; // Define el número de registros por página
    let currentPage = 1;

    function showPage(page) {
        const rows = document.querySelectorAll('.clickable-row');
        const startIndex = (page - 1) * itemsPerPage;
        const endIndex = startIndex + itemsPerPage;

        rows.forEach((row, index) => {
            if (index >= startIndex && index < endIndex) {
                row.style.display = 'table-row';
                row.setAttribute('data-visible', 'true');
            } else {
                row.style.display = 'none';
                row.setAttribute('data-visible', 'false');
            }

            // Oculta los elementos <tr> extra
            const extraRow = row.nextElementSibling;
            if (extraRow && extraRow.classList.contains('extra-row')) {
                extraRow.style.display = 'none';
            }
        });
    }


    function updatePagination() {
        const rows = document.querySelectorAll('.clickable-row');
        const totalRows = rows.length;
        const totalPages = Math.ceil(totalRows / itemsPerPage);

        if (currentPage === 1) {
            document.querySelector('.prev-btn').disabled = true;
        } else {
            document.querySelector('.prev-btn').disabled = false;
        }

        if (currentPage === totalPages) {
            document.querySelector('.next-btn').disabled = true;
        } else {
            document.querySelector('.next-btn').disabled = false;
        }
    }

    document.querySelector('.prev-btn').addEventListener('click', () => {
        if (currentPage > 1) {
            currentPage--;
            showPage(currentPage);
            updatePagination();
        }
    });

    document.querySelector('.next-btn').addEventListener('click', () => {
        const rows = document.querySelectorAll('.clickable-row');
        const totalRows = rows.length;
        const totalPages = Math.ceil(totalRows / itemsPerPage);

        if (currentPage < totalPages) {
            currentPage++;
            showPage(currentPage);
            updatePagination();
        }
    });

    // Mostrar la primera página al cargar la tabla
    showPage(currentPage);
    updatePagination();
</script>

<!--End Detalles de los detalles-->